.pageContainer {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../../assets/background.jpg');
  background-position: center;
  background-size: cover;
  position: absolute;
}

.form {
  width: 380px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  backdrop-filter: blur(8.5px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  background: rgba(255, 255, 255, 0.15);
  padding: 5px;
  overflow: hidden;
}


.formButton {
  width: 210px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #6bcdfa42;
  border-radius: 38px;
}

.button {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  color: #e6ebfc;
}

.btnTransition {
  top: 0;
  left: 0;
  position: absolute;
  width: 100px;
  height: 100%;
  background: linear-gradient(to bottom, #00ffff 0%, #0099cc 65%);
  border-radius: 30px;
  transition: 0.5s;
}

.loginGrp {
  top: 180px;
  position: absolute;
  width: 280px;
  transition: .5s;
  left: 50px;
}

.txtField {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  /* border-left: 0;
  border-top: 0;
  border-right: 0; */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  background: rgba(255, 255, 255, 0.15);
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  backdrop-filter: blur(12rem);
  padding: 1rem;
}

.submit {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to bottom, #00ffff 0%, #0099cc 65%);
  border: 0;
  outline: none;
  border-radius: 30px;
  color: #fff;
}

.chkbox {
  margin: 30px 10px 30px 0;
  display: flex;
  flex-direction: row;
}

.spn {
  font-size: 12px;
  color: #fff;
  margin-left: 5px;
}


.regGrp {
  top: 180px;
  position: absolute;
  width: 280px;
  transition: .5s;
  left: 450px;
}

.space {
  margin: 30px 10px 30px 0;
}